<div class="celda">
  <h3 class="celda-titulo">{{ columna.etiqueta }} <span class="contador" id="contador-{{ fila_id }}-{{ columna.clave }}">{{ columna.tareas|length }}</span></h3>
  <div class="lista" id="lista-{{ fila_id }}-{{ columna.clave }}" data-columna="{{ columna.clave }}" data-categoria="{{ fila_id }}">
    {% for tarea in columna.tareas %}
      {% include "fragmentos/tarjeta.html" %}
    {% endfor %}
  </div>
  {% with columna_clave = columna.clave, categoria_id = fila_id, modo = "crear" %}
    {% include "fragmentos/formulario_tarea.html" %}
  {% endwith %}
</div>
