<section class="columna" id="columna-{{ columna.clave }}" data-columna="{{ columna.clave }}">
  <h2>{{ columna.etiqueta }} <span class="contador" id="contador-{{ columna.clave }}">{{ columna.tareas|length }}</span></h2>
  <div class="lista" id="lista-{{ columna.clave }}" data-columna="{{ columna.clave }}">
    {% for tarea in columna.tareas %}
      {% include "fragmentos/tarjeta.html" %}
    {% endfor %}
  </div>
  {% with columna_clave = columna.clave, modo = "crear" %}
    {% include "fragmentos/formulario_tarea.html" %}
  {% endwith %}
</section>
